@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2"), url("../fonts/Roboto-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2"), url("../fonts/Roboto-Bold.woff");
    font-weight: 700;
    font-style: bold;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::after, *::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

body {
    background-color: #621402;
    color: #FFF;
    font-family: "Roboto", serif;
    font-style: normal;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.header {
    padding-top: 31px;
    background: 
        linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), 
        url("../img/bg.jpg") no-repeat center top / cover;
    min-height: 100vh;
}

.header-navbar {
    display: flex;
    align-items: center;
    min-height: 33px;
}

.header-logo {
    width: 33px;
    height: 33px;
    flex-shrink: 0;
}

.header-menu {
    margin-left: 57px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    margin-right: 25px;
}

.menu-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
}

.header-user {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 33px;
    margin-left: 11px;
    flex-shrink: 0;
}

.user-avatar img {
    border-radius: 50%;
}

.film-body {
    margin-top: 90px;
    display: flex;
    align-items: center;
}

.film-title-english {
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    opacity: 0.5;
}

.film-title-russian {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-top: 11px;
    margin-bottom: 23px;
}

.film-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    max-width: 570px;
}

.film-trailer {
    margin: auto;
    transition: transform 0.5s;
}

.film-trailer:hover {
    transform: scale(1.1);
}

.film-details {
    margin-top: 53px;
    display: flex;
    align-items: center;
}

.film-time {
    display: flex;
    align-items: center;
}

.clock-icon {
    width: 20px;
    margin-right: 14px;
}

.film-length {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.film-rating {
    display: flex;
    align-items: center;
    margin-left: 34px;
}

.rating-icon {
    width: 35px;
    margin-right: 12px;
}

.rating-score {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.rating-current {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}

.session {
    margin-top: 59px;
    padding-top: 46px;
    padding-bottom: 64px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.session-label {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
    display: block;
}

.session-date-block {
    display: flex;
}

.session-date-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    width: 90px;
    height: 90px;
    transition: background-color 0.2s;
}


.session-date-item:not(:last-child) {
    margin-right: 15px;
}

.session-date-item:hover {
    background-color: #FE8E05;
    color: #621402;
    cursor: pointer;
}

.item-month {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.item-date {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}

.item-day {
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    text-transform: lowercase;
}

.select {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #fff;
    padding: 18px;
    margin-top: 13px;
    appearance: none;
    background: url('../svg/select.svg') no-repeat top 21px right 20px, rgba(255, 255, 255, 0.15);
}

.select option {
    background-color: #621402;
}

.select-cinema {
    min-width: 470px;
}

.select-time {
    width: 108px;
}

.seats-scheme {
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
}

.seats-scheme path:not(.screen-light) {
    fill: rgba(255, 255, 255, 0.2);
}

.seats-scheme path:not(.screen-light):hover {
    fill: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.seats-scheme path.seat-booked, 
.seats-scheme path.seat-booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
}

.seats-scheme path.seat-active, 
.seats-scheme path.seat-active:hover {
    fill: #FE8E05;
}

.seat-legend {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 1024px;
    margin: 0 auto;
    padding: 22px 0px 38px 0px;
}

.seat-label {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.seat-legend svg {
    margin-right: 16px;
}

.seat-legend path.seat-free, 
.seat-legend path.seat-free:hover {
    fill: rgba(255, 255, 255, 0.2);
    cursor: default;
}

.seat-legend path.seat-active, 
.seat-legend path.seat-active:hover {
    fill: #FE8E05;
    cursor: default;
}

.seat-legend path.seat-booked, 
.seat-legend path.seat-booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: default;
}

.seat-text {
    opacity: 0.5;
}

.booking-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 158px;
}

.price-label {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.price-tag {
    font-weight: normal;
    font-size: 52px;
    line-height: 61px;
}

.button {
    display: block;
    padding: 24px 52px;
    background: #FE8E05;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}